/* styles About headers */
.h1 {
    padding: 20px;
    color: darkgray;
    text-align: center;
}
.h2 {
    /* width: 100%; */
    padding: 20px;
    color: darkgray;
    font-style: italic;
}
/* styles footer */
.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color:#ff4d2a;
    opacity: 40%;
    text-align: center;
    padding: 20px;
    }
/* default portfolio style */
.portfolio {
    background-color: grey;
    padding: 10%;
}

.col-12{
    padding: 0%;
}
/* default Home/About style*/
#About {
    padding: 15%;
    background-color: gray;
    color: white;
}
/* style for screens larger than 768px */
@media screen and (min-width: 768px){
    #About{
        background-color: white;
        color: gray;
        padding: 10% 10% 0% 10%;
    }
}


