.h1 {
    padding: 20px;
    color: darkgray;
    text-align: center;
}
.h2 {
    /* width: 100%; */
    padding: 20px;
    color: darkgray;
    font-style: italic;
}

.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color:#ff4d2a;
    opacity: 40%;
    text-align: center;
    padding: 20px;
    }

.portfolio {
    background-color: grey;

}
#About {
    padding: 10% 10% 10% 10%;
    color: gray;
}
.col-12{
    padding: 0%;
}

/* .col-12 #About{
    background-color: red;
} */
