.About {
    /* width: 100%; */
    padding: 20px;
    color: darkgray;
    font-style: italic;
}
.Hi {
    /* width: 100%; */
    padding: 20px;
    color: darkgray;
    text-align: center;
}

.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color:#ff4d2a;
    opacity: 40%;
    text-align: center;
    padding: 20px;
    }

   